### TP1: Quantitative Structure-Activity Relationship (QSAR)

Membres du Groupe 2: 
1- Couthon, Mahutondji Josué Friedman
2- Daouda, Abdou Rahime
3- Meuleghe Kenmegne, Laetitia

In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
data = pd.read_excel('QSAR_dataset.xlsx')

In [19]:
data

,SMILES,Class,apol,ASA+,ASA-,a_count,a_donacc,a_heavy,a_hyd,a_IC,...,VSA,vsa_acc,vsa_hyd,vsa_pol,vsurf_A,vsurf_R,vsurf_S,vsurf_V,Weight,zagreb
0,FC(F)(F)C(F)(F)C(F)(F)C(F)(F)C(F)(F)C(F)(F)C(F...,Class 2,41.283001,21.282999,622.40619,43,0,43.0,40,49.644451,...,421.45898,27.133842,357.37701,27.133842,3.610454,7.831075,-101.933951,-4.007604,713.09796,246
1,c12c(cccc1)cccc2,Class 2,22.934343,155.975430,156.69504,18,0,10.0,10,17.839369,...,151.37508,0.000000,130.88504,0.000000,0.040120,0.087020,-1.132699,-0.044533,128.17400,50
2,Clc1c(Cl)c(Cl)c(c(Cl)c1Cl)-c1c(Cl)c(Cl)c(Cl)c(...,Class -2,42.919998,38.976181,499.52170,22,0,22.0,22,21.868664,...,338.42563,0.000000,345.43402,0.000000,0.048171,0.104483,-1.360008,-0.053470,498.66199,118
3,ClC1(Cl)C2(Cl)C(Cl)=C(Cl)C1(Cl)C1C2C(Cl)C2(Cl)...,Class -2,38.509171,46.270092,421.43369,23,1,19.0,16,38.822643,...,293.98846,2.503756,263.09042,2.503756,4.973507,10.787536,-140.417009,-5.520592,423.76498,130
4,Clc1c(Cl)c(Cl)c(c(Cl)c1Cl)-c1c(Cl)c(Cl)c(Cl)c(...,Class -2,41.406792,56.392834,480.49115,22,0,21.0,21,26.558620,...,330.35486,0.000000,327.14081,0.000000,0.137724,0.298724,-3.888371,-0.152874,464.21698,112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,Clc1c(Cl)cc(-c2c(Cl)cc(Cl)cc2)cc1Cl,Class -1,35.353966,108.591640,369.80264,22,0,17.0,17,31.868664,...,274.55731,0.000000,253.96802,0.000000,0.189245,0.410473,-5.342964,NaN,326.43698,88
150,Clc1c(Cl)c(-c2c(Cl)cc(Cl)c(Cl)c2)cc(Cl)c1[O-],Class 0,37.002380,74.775352,427.29446,22,0,19.0,17,34.823284,...,292.15103,13.566921,256.45273,13.566921,6.924998,15.020321,-195.513477,-7.686748,375.87299,100
151,c12c3c(ccc1cccc2)cccc3,Class 0,31.307930,174.869430,178.80505,24,0,14.0,14,23.516850,...,198.75549,0.000000,166.91910,0.000000,0.098131,0.212847,NaN,-0.108926,178.23399,76
152,Clc1c(Cl)cc2c(oc3c2cc(Cl)c(Cl)c3)c1,Class 0,33.309174,104.919330,333.65930,21,0,17.0,14,33.219116,...,248.35408,0.000000,204.05783,0.000000,0.211047,0.457762,NaN,-0.234263,305.97501,96
153,c12c3c4ccc1cccc2ccc3ccc4,Class 0,34.827930,179.319000,179.26186,26,0,16.0,16,24.992151,...,213.51535,0.000000,171.33618,0.000000,0.048523,0.105245,-1.369937,-0.053860,202.25600,94

In [ ]:
df = data.drop("Class", axis = 1) #dataframe sans la colonne classe

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
df.isnull().sum()

In [ ]:
df.dtypes

In [ ]:
# Transformer les valeurs de la colonne Class en valeurs numériques

data['Class'] = data['Class'].str.replace('Class', '')

data['Class'] = pd.to_numeric(data['Class'])

In [ ]:
dataF = data.drop("SMILES", axis = 1)
correlations = dataF.corr()['Class'].abs()

sorted_correlations = correlations.sort_values(ascending=False)

top_10_attributes = sorted_correlations.index[2:]

print(top_10_attributes)

In [ ]:
# Assuming 'data' is your DataFrame and 'top_10_attributes' is the list of top 10 attribute names
for attribute in top_10_attributes:
    plt.figure(figsize=(10, 6))
    sns.distplot(data[attribute], bins=30, kde=False)
    plt.title(f'Distribution of {attribute}')
    plt.show()